# Budget

## Data preparation

In [1]:
# Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Bring data

In [2]:
df = pd.read_csv(r'C:\Users\P0032697\Desktop\Job search\SciPlay\budget.csv')
df.head()

     game event_date platform    source  budget
0  game_1  5/17/2020      ios  source_7  1397.7
1  game_5  2/24/2020      ios  source_5   246.6
2  game_5  1/12/2021   amazon  source_3   144.9
3  game_4  5/13/2020      ios  source_7   601.2
4  game_1  6/11/2021      ios  source_3   480.6

In [5]:
# Understanding the data

In [6]:
print(f'the data frame has {df.shape[0]} row over {df.shape[1]} columns')

the data frame has 4362 row over 5 columns

In [7]:
# Sampling data Scource

In [8]:
df.sample(2)

        game  event_date platform    source  budget
3741  game_6  10/10/2021      ios  source_2   754.2
1838  game_2    1/4/2021   amazon  source_2  1605.6

In [9]:
# Data dictionary

In [10]:
'''
Game = Game name
event_date = Assumption: this would be a date when we sample the data


'''

'\nGame = Game name\nevent_date = Assumption: this would be a date when we sample the data\n\n\n'

In [11]:
# Cleanup of the data

In [12]:
# Null values
# As we see, the dataset contains many null values

In [3]:
df.isnull().sum()

game          150
event_date      0
platform      174
source          0
budget          0
dtype: int64

In [14]:
# Checking NULL values in Game column

In [4]:
game_null_filter = df['game'].isnull()
df[game_null_filter]

     game  event_date platform     source  budget
11    NaN   1/28/2020   amazon   source_3  1593.9
68    NaN   10/1/2021      web   source_4  1303.2
91    NaN   9/19/2021  android   source_3   440.1
94    NaN   1/26/2021      ios   source_4   752.4
118   NaN  11/25/2020   amazon   source_6   675.9
...   ...         ...      ...        ...     ...
4145  NaN   2/13/2021      ios   source_2  1163.7
4230  NaN   1/23/2021  android   source_1   703.8
4237  NaN   9/19/2020   amazon   source_1  1365.3
4241  NaN   2/22/2021  android   source_9   360.9
4344  NaN   2/13/2021      web  source_12  1755.0

[150 rows x 5 columns]

In [16]:
# We I see, it'd be better to get rid of these 150 rows, where game is NULL.

In [6]:
game_null_filter = df['game'].isnull()
df.drop(df[game_null_filter].index, inplace = True)

In [18]:
# Let's make sure there are no negative values in Budget

In [7]:
negative_budget_filter = df['budget'] < 0
df2 = df[negative_budget_filter]
df2

Empty DataFrame
Columns: [game, event_date, platform, source, budget]
Index: []

In [20]:
# As we see, there are no negative values in this measure column. Therefore no need to remove any rows

In [21]:
# Data types validation

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4212 entries, 0 to 4361
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game        4212 non-null   object
 1   event_date  4212 non-null   object
 2   platform    4038 non-null   object
 3   source      4212 non-null   object
 4   budget      4212 non-null   float64
dtypes: float64(1), object(4)
memory usage: 197.4+ KB

In [23]:
# AS we see, event_date is OBJECT type. This is not good. Let's change the data type of this column.

In [9]:
df['event_date'] = pd.to_datetime(df['event_date'])

In [25]:
# Now, let's have a look at duplicate rows

In [10]:
# Rows in our dataset
print(len(df))

4212

In [11]:
# Unique values we have in our data set
df.nunique()

game            7
event_date    442
platform        4
source         12
budget        587
dtype: int64

In [28]:
# As seen, we have to drill down to allocate duplicate rows.

In [29]:
# Let's fine duplicate rows

In [12]:
df[df.duplicated]

        game event_date platform     source  budget
727   game_1 2020-05-17      ios   source_7  1397.7
728   game_5 2020-02-24      ios   source_5   246.6
729   game_5 2021-01-12   amazon   source_3   144.9
730   game_4 2020-05-13      ios   source_7   601.2
731   game_1 2021-06-11      ios   source_3   480.6
...      ...        ...      ...        ...     ...
4357  game_5 2020-12-20  android   source_5  1150.2
4358  game_4 2020-04-14  android  source_10   578.7
4359  game_1 2021-08-02  android  source_11   652.5
4360  game_5 2020-11-26      ios  source_12   530.1
4361  game_4 2021-12-01  android   source_4  1292.4

[3510 rows x 5 columns]

In [31]:
# WOW !!! 
# Like marketing_data_set most of budget dat set has multiple rows. 
# We have to check out the reason for this duplicate rows. 
# For this purpose, let's take, as a test, rows where revenue = 1795 & revenue = 2035

In [13]:
Rev_filter_1 = df['budget'] == 1397.7
Rev_filter_2 = df['budget'] == 246.6
df2 = df[Rev_filter_1 | Rev_filter_2]
df2.sort_values('budget')

        game event_date platform    source  budget
1     game_5 2020-02-24      ios  source_5   246.6
3636  game_5 2020-02-24      ios  source_5   246.6
728   game_5 2020-02-24      ios  source_5   246.6
2909  game_5 2020-02-24      ios  source_5   246.6
1455  game_5 2020-02-24      ios  source_5   246.6
2182  game_5 2020-02-24      ios  source_5   246.6
0     game_1 2020-05-17      ios  source_7  1397.7
3635  game_1 2020-05-17      ios  source_7  1397.7
3334  game_5 2020-06-22   amazon  source_6  1397.7
3126  game_7 2021-09-01      ios  source_7  1397.7
2908  game_1 2020-05-17      ios  source_7  1397.7
2607  game_5 2020-06-22   amazon  source_6  1397.7
2399  game_7 2021-09-01      ios  source_7  1397.7
1880  game_5 2020-06-22   amazon  source_6  1397.7
3853  game_7 2021-09-01      ios  source_7  1397.7
1672  game_7 2021-09-01      ios  source_7  1397.7
1454  game_1 2020-05-17      ios  source_7  1397.7
1153  game_5 2020-06-22   amazon  source_6  1397.7
945   game_7 2021-09-01      ios  source_7  1397.7
727   game_1 2020-05-17      ios  source_7  1397.7
426   game_5 2020-06-22   amazon  source_6  1397.7
218   game_7 2021-09-01      ios  source_7  1397.7
2181  game_1 2020-05-17      ios  source_7  1397.7
4061  game_5 2020-06-22   amazon  source_6  1397.7

In [33]:
# Conclusions:
# It looks like every row is duplicated. Let's check it out by grouping

In [14]:
result = df.groupby(['game','event_date', 'platform', 'source']).count()
result.head(20)

                                      budget
game   event_date platform source
game_1 2020-01-02 amazon   source_11       6
       2020-01-11 ios      source_2        6
       2020-01-22 android  source_6        6
       2020-03-01 web      source_4        6
       2020-03-02 web      source_5        6
       2020-03-15 android  source_6        6
       2020-03-26 amazon   source_1        6
       2020-04-03 android  source_9        6
       2020-04-05 android  source_1        6
       2020-04-12 android  source_9        6
       2020-04-14 ios      source_8        6
       2020-05-10 ios      source_8        6
       2020-05-17 ios      source_7        6
       2020-06-01 amazon   source_10       6
       2020-06-21 amazon   source_5        6
       2020-06-23 web      source_11       6
                           source_7        6
       2020-06-29 web      source_11       6
       2020-07-09 web      source_2        6
       2020-07-10 amazon   source_11       6

In [35]:
# Let's find out why we have such a strange situation. Let's sample the data

In [15]:
Rev_filter_budget = df['budget'] == 1397.7
Rev_filter_platform = df['platform'] == 'amazon'
df2 = df[Rev_filter_budget & Rev_filter_platform]
df2

        game event_date platform    source  budget
426   game_5 2020-06-22   amazon  source_6  1397.7
1153  game_5 2020-06-22   amazon  source_6  1397.7
1880  game_5 2020-06-22   amazon  source_6  1397.7
2607  game_5 2020-06-22   amazon  source_6  1397.7
3334  game_5 2020-06-22   amazon  source_6  1397.7
4061  game_5 2020-06-22   amazon  source_6  1397.7

In [37]:
# Conclusion: looks like there is no reason for such duplicant rows. Therefore, we can get rid of these duplicates

In [16]:
df.drop_duplicates(inplace = True)
df

       game event_date platform     source  budget
0    game_1 2020-05-17      ios   source_7  1397.7
1    game_5 2020-02-24      ios   source_5   246.6
2    game_5 2021-01-12   amazon   source_3   144.9
3    game_4 2020-05-13      ios   source_7   601.2
4    game_1 2021-06-11      ios   source_3   480.6
..      ...        ...      ...        ...     ...
722  game_5 2020-12-20  android   source_5  1150.2
723  game_4 2020-04-14  android  source_10   578.7
724  game_1 2021-08-02  android  source_11   652.5
725  game_5 2020-11-26      ios  source_12   530.1
726  game_4 2021-12-01  android   source_4  1292.4

[702 rows x 5 columns]

In [17]:
# lets remove null values in platform either

In [18]:
platform_null_filter = df['platform'].isnull()
df = df.drop(df[platform_null_filter].index)
df

       game event_date platform     source  budget
0    game_1 2020-05-17      ios   source_7  1397.7
1    game_5 2020-02-24      ios   source_5   246.6
2    game_5 2021-01-12   amazon   source_3   144.9
3    game_4 2020-05-13      ios   source_7   601.2
4    game_1 2021-06-11      ios   source_3   480.6
..      ...        ...      ...        ...     ...
722  game_5 2020-12-20  android   source_5  1150.2
723  game_4 2020-04-14  android  source_10   578.7
724  game_1 2021-08-02  android  source_11   652.5
725  game_5 2020-11-26      ios  source_12   530.1
726  game_4 2021-12-01  android   source_4  1292.4

[673 rows x 5 columns]

In [41]:
# Export data set to CSV file

In [19]:
df.to_csv(r'C:\Users\P0032697\Desktop\Job search\SciPlay\budget_updated.csv', index=False)

# Let's create function for future cleanups

In [43]:
def load_sciplay():
    url = r'C:\Users\P0032697\Desktop\Job search\SciPlay\marketing_data_set.csv'
    df = pd.read_csv(url, parse_dates = df['install_date', 'event_date'])
    df.drop(df[game_null_filter], inplace=True)
    df.drop_duplicates(inplace = True)
    df['cost'] = df['cost'].fillna(0)
    return df

In [44]:
df = load_sciplay()

UnboundLocalError: cannot access local variable 'df' where it is not associated with a value

# EDA (Explorative Data Analysis)

In [20]:
categorical = ['game', 'platform', 'source', 'source_type', 'campagin_id']
numerical = ['revenue', 'cost', 'installs', '#_paying_users']
df.head(2)

     game event_date platform    source  budget
0  game_1 2020-05-17      ios  source_7  1397.7
1  game_5 2020-02-24      ios  source_5   246.6

In [ ]:
# Summary statistics

In [21]:
df.describe().transpose()

,count,mean,min,25%,50%,75%,max,std
event_date,673,2021-02-16 18:02:40.475482880,2020-01-01 00:00:00,2020-09-02 00:00:00,2021-03-10 00:00:00,2021-08-22 00:00:00,2021-12-30 00:00:00,NaN
budget,673.0,938.404458,96.3,510.3,918.0,1393.2,1796.4,505.935548

In [ ]:
# Summary statistics observation

In [ ]:
# Revenue:
# 1. Min Revenue = 0 (???) I believe, we have check it out. Perhaps, we must to delete this row,
    # since we must have done some sort of revenue
# Cost:
# 1. Cost has very large range: the STD is 547, while the average is 742. The MAX is 1665 --> The cost is positively skewed
# #_paying_users:
# 1. Min #_paying_users = 1 (???) I believe, we have check it out. Perhaps, we must to delete this row,
    # since it looks too small number

In [ ]:
# Validating Zero revenue

In [24]:
Rev_filter_less_1 = df['revenue'] < 1
df[Rev_filter_less_1]

KeyError: 'revenue'

In [ ]:
# It looks like we may delete these rows, since as I see Install_date is NaT, while there is installations

In [23]:
# df.drop(df[Rev_filter_less_1].index, inplace = True)
df[Rev_filter_less_1]

NameError: name 'Rev_filter_less_1' is not defined

In [ ]:
# Distributions

In [ ]:
# Histogram of Revenue column
df['revenue'].hist(bins=10)

# add labels and title
plt.xlabel('Revenue')
plt.ylabel('Frequency')
plt.title('Distribution of Revenue')

In [ ]:
# Histogram of Cost column
df['cost'].hist(bins=20)

# add labels and title
plt.xlabel('Cost')
plt.ylabel('Frequency')
plt.title('Distribution of Cost')

In [ ]:
# Dealing with Outliers

In [ ]:
col = 'revenue'

q1 = df[col].quantile(.25)
q3 = df[col].quantile(.75)
iqr = q3 - q1

right_bound = df[col] < (q3 + iqr * 1.5)
left_bound = df[col] > (q1 - iqr * 1.5)

df = df[left_bound & right_bound]
df

In [ ]:
len(df)